html,
body {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

header {
  background-color: oklch(86.9% 0.022 252.894);
  display: flex;
  justify-content: space-around;
  gap: 1rem;

  align-items: center;
  padding: 1rem;
}

main {
  background-color: oklch(92.8% 0.006 264.531);
  height: 80vh;
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 2rem;
}

.mainAccueuil {
  height: auto;
  flex-direction: column;
  gap: 0.5rem;
}

.mainIndex {
  overflow-y: auto;
  overflow-x: auto;
}

p {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}

picture {
  border: 1px solid oklch(28.2% 0.091 267.935);
  box-shadow: 5px 5px oklch(27.9% 0.041 260.031);
  border-radius: 20px;
}

img {
  height: auto;
  width: 100%;
  border-radius: 20px;
}

.nouvelleListe {
  height: auto;
  width: auto;
  padding: 1rem;
  background-color: oklch(88.2% 0.059 254.128);
  border-radius: 20px;
  border: 1px solid oklch(28.2% 0.091 267.935);
  box-shadow: 5px 5px oklch(27.9% 0.041 260.031);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1,
.nomDeLaListe {
  text-transform: uppercase;
  color: oklch(12.9% 0.042 264.695);
  text-align: center;
}

.ajouterListe {
  font-family: "Playwrite DE Grund", cursive;
  border-radius: 10px;
  cursor: pointer;
  background-color: oklch(88.2% 0.059 254.128);
  border: 1px solid;
  padding: 0.5rem;
}

.ajouterListe:hover,
a:hover {
  color: oklch(50.794% 0.15145 268.168);
  transition: 0.5s;
  animation: pulse-beat-alt1 0.6s ease-in-out;
}
@keyframes pulse-beat-alt1 {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
  }
  25% {
    transform: translateY(-8px) scale(1.05) rotate(5deg);
  }
  50% {
    transform: translateY(4px) scale(0.95) rotate(-3deg);
  }
  75% {
    transform: translateY(-3px) scale(1.02) rotate(3deg);
  }
  100% {
    transform: translateY(0) scale(1) rotate(0deg);
  }
}

a {
  font-weight: bold;
  color: oklch(12.9% 0.042 264.695);
}

button {
  font-family: "Playwrite DE Grund", cursive;
  cursor: pointer;
}

.bouttonSupprimerListe {
  margin-top: 0.5rem;
  border-radius: 10px;
  padding: 0.2rem;
  border: 1px solid;
}

.bouttonSupprimerListe:hover {
  background-color: rgb(219, 219, 219);
  color: rgb(247, 70, 70);
  transition: 0.3s;
}

.tache {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: oklch(95.1% 0.026 236.824);
  margin-bottom: 0.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid oklch(28.2% 0.091 267.935);
}

.bouttonSupprimerTache {
  padding: 0.2rem;
  height: 50%;
  border: 0;
  background-color: oklch(95.1% 0.026 236.824);
  font-weight: bold;
}

.bouttonSupprimerTache:hover {
  color: rgb(230, 15, 15);
  transition: 0.3s;
}

.titreTache {
  height: 24px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: oklch(86.9% 0.022 252.894);
}
